<table class="table table-striped ">
    <thead class="table table-bordered table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Primer Nombre</th>
        <th scope="col">Pais</th>
        <th scope="col">Tipo Identificación</th>
        <th scope="col">Numero Identificación</th>
        <th scope="col">Correo</th>
        <th scope="col">Area</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Ver</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
      </tr>
    </thead>
    <tbody class="table table-bordered">
      <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: 10, currentPage: page } ">
        <td>{{empleado.id}}</td>
        <td>{{empleado.primerApellido}}</td>
        <td>{{empleado.primerNombre}}</td>
        <td>{{empleado.pais}}</td>
        <td>{{empleado.tipoIdentificacion}}</td>
        <td>{{empleado.numIdentificacion}}</td>
        <td>{{empleado.correo}}</td>
        <td>{{empleado.area}}</td>
        <td>{{empleado.fechaRegistro | date:'yyyy/MM/dd hh:mm:ss'}}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{empleado.id}}"><i class="far fa-eye"></i> Ver</button></td>
        <td><button class="btn btn-outline-warning" routerLink="/editar/{{empleado.id}}"><i class="far fa-edit"></i> Editar</button></td>
        <td><button class="btn btn-outline-danger" (click)="borrar(empleado.id)"><i class="far fa-trash-alt"></i> Borrar</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event" style="text-align: center;"></pagination-controls>
